@keyframes appear {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 300px;
  }
}

.bot {
  margin-top: 80px;
  opacity: 0.06;
  pointer-events: none;
  user-select: none;
  transition: 0.4s;
}

.bot--active {
  opacity: 1;
  pointer-events: initial;
  user-select: text;
  animation: appear 0.4s linear;
}

.bot__text {
  font-size: 32px;
  line-height: 1.3;
  @media screen and (max-width: 540px) {
    font-size: 20px;
  }
}

.bot__button {
  background: $primary;
  border: none;
  color: $dark;
  font-size: 16px;
  padding: 16px 24px;
  border-radius: 4px;
  margin-top: 32px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.bot__input {
  background: none;
  border: none;
  border-bottom: 1px solid $secondary;
  width: 40%;
  font-size: 24px;
  line-height: 1.5;
  padding: 12px 0;
  outline: none;
  color: white;
  transition: 0.4s;
  margin-top: 16px;
  border-radius: 0;
  -webkit-appearance: none;

  @media screen and (max-width: 540px) {
    font-size: 16px;
  }
}

.bot__input::-webkit-search-decoration,
.bot__input::-webkit-search-cancel-button,
.bot__input::-webkit-search-results-button,
.bot__input::-webkit-search-results-decoration {
  display: none;
}

.bot__input:focus {
  border-color: $primary;
  width: 80%;
}

.bot__input::placeholder {
  color: $secondary;
}

.bot__select {
  margin-top: 16px;
}

.bot__select-option {
  line-height: 1.4;
  display: inline-block;
  width: calc(50% - 32px);
  position: relative;
  padding-left: 16px;
  cursor: pointer;
  font-size: 20px;
  color: $secondary;
  transition: 0.4s;
  margin-top: 8px;
  @media screen and (max-width: 540px) {
    width: 100%;
  }
}

.bot__select-option:hover {
  color: white;
}

.bot__select-option::after {
  display: block;
  content: '';
  height: 4px;
  width: 4px;
  background: $primary;
  position: absolute;
  left: 0;
  top: 50%;
}